In [1]:
import os
import pandas as pd

# assign path
path, dirs, files = next(os.walk("./csv_results/"))
file_count = len(files)
# create empty list
dataframes_list = []
 
# append datasets to the list
for i in range(file_count):
    temp_df = pd.read_csv("./csv_results/"+files[i])
    dataframes_list.append(temp_df)
     
# display datasets
for dataset in dataframes_list:
    dataset.drop(dataset.columns[0], axis=1, inplace=True)
    #dataset.info()
    dataset['Date'] = pd.to_datetime(dataset['Date']).dt.strftime('%Y-%m-%dT%H:%M:%SZ')
    dataset = dataset.drop_duplicates()
    dataset = dataset.dropna(axis=0)
    
    
    dataset.info()

    display(dataset.columns)
    
    dataset.to_csv('./edit1/'+dataset['Compagny'][0]+'_Edit_Reviews.csv', mode='a', index=False, header=True, encoding='utf-8-sig')
    
    #display(dataset)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2156 entries, 0 to 117715
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Reviewer      2156 non-null   object
 1   Note          2156 non-null   float64
 2   Comment       2156 non-null   object
 3   Localisation  2156 non-null   object
 4   Nbreviews     2156 non-null   int64
 5   Date          2156 non-null   object
 6   Compagny      2156 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 134.8+ KB

Index(['Reviewer', 'Note', 'Comment', 'Localisation', 'Nbreviews', 'Date',
       'Compagny'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4086 entries, 0 to 422285
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Reviewer      4086 non-null   object
 1   Note          4086 non-null   float64
 2   Comment       4086 non-null   object
 3   Localisation  4086 non-null   object
 4   Nbreviews     4086 non-null   int64
 5   Date          4086 non-null   object
 6   Compagny      4086 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 255.4+ KB

Index(['Reviewer', 'Note', 'Comment', 'Localisation', 'Nbreviews', 'Date',
       'Compagny'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3904 entries, 0 to 405920
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Reviewer      3904 non-null   object
 1   Note          3904 non-null   float64
 2   Comment       3904 non-null   object
 3   Localisation  3904 non-null   object
 4   Nbreviews     3904 non-null   int64
 5   Date          3904 non-null   object
 6   Compagny      3904 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 244.0+ KB

Index(['Reviewer', 'Note', 'Comment', 'Localisation', 'Nbreviews', 'Date',
       'Compagny'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 919 entries, 0 to 21619
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Reviewer      919 non-null    object
 1   Note          919 non-null    float64
 2   Comment       919 non-null    object
 3   Localisation  919 non-null    object
 4   Nbreviews     919 non-null    int64
 5   Date          919 non-null    object
 6   Compagny      919 non-null    object
dtypes: float64(1), int64(1), object(5)
memory usage: 57.4+ KB

Index(['Reviewer', 'Note', 'Comment', 'Localisation', 'Nbreviews', 'Date',
       'Compagny'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 600 entries, 0 to 9299
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Reviewer      600 non-null    object
 1   Note          600 non-null    float64
 2   Comment       600 non-null    object
 3   Localisation  600 non-null    object
 4   Nbreviews     600 non-null    float64
 5   Date          600 non-null    object
 6   Compagny      600 non-null    object
dtypes: float64(2), object(5)
memory usage: 37.5+ KB

Index(['Reviewer', 'Note', 'Comment', 'Localisation', 'Nbreviews', 'Date',
       'Compagny'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6108 entries, 0 to 939407
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Reviewer      6108 non-null   object
 1   Note          6108 non-null   float64
 2   Comment       6108 non-null   object
 3   Localisation  6108 non-null   object
 4   Nbreviews     6108 non-null   int64
 5   Date          6108 non-null   object
 6   Compagny      6108 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 381.8+ KB

Index(['Reviewer', 'Note', 'Comment', 'Localisation', 'Nbreviews', 'Date',
       'Compagny'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4190 entries, 0 to 460030
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Reviewer      4190 non-null   object
 1   Note          4190 non-null   float64
 2   Comment       4190 non-null   object
 3   Localisation  4190 non-null   object
 4   Nbreviews     4190 non-null   int64
 5   Date          4190 non-null   object
 6   Compagny      4190 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 261.9+ KB

Index(['Reviewer', 'Note', 'Comment', 'Localisation', 'Nbreviews', 'Date',
       'Compagny'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7998 entries, 0 to 1603999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Reviewer      7998 non-null   object
 1   Note          7998 non-null   float64
 2   Comment       7998 non-null   object
 3   Localisation  7998 non-null   object
 4   Nbreviews     7998 non-null   int64
 5   Date          7998 non-null   object
 6   Compagny      7998 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 499.9+ KB

Index(['Reviewer', 'Note', 'Comment', 'Localisation', 'Nbreviews', 'Date',
       'Compagny'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3888 entries, 0 to 382189
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Reviewer      3888 non-null   object
 1   Note          3888 non-null   float64
 2   Comment       3888 non-null   object
 3   Localisation  3888 non-null   object
 4   Nbreviews     3888 non-null   int64
 5   Date          3888 non-null   object
 6   Compagny      3888 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 243.0+ KB

Index(['Reviewer', 'Note', 'Comment', 'Localisation', 'Nbreviews', 'Date',
       'Compagny'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4098 entries, 0 to 422297
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Reviewer      4098 non-null   object
 1   Note          4098 non-null   float64
 2   Comment       4098 non-null   object
 3   Localisation  4098 non-null   object
 4   Nbreviews     4098 non-null   int64
 5   Date          4098 non-null   object
 6   Compagny      4098 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 256.1+ KB

Index(['Reviewer', 'Note', 'Comment', 'Localisation', 'Nbreviews', 'Date',
       'Compagny'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6718 entries, 0 to 1139036
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Reviewer      6718 non-null   object
 1   Note          6718 non-null   float64
 2   Comment       6718 non-null   object
 3   Localisation  6718 non-null   object
 4   Nbreviews     6718 non-null   int64
 5   Date          6718 non-null   object
 6   Compagny      6718 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 419.9+ KB

Index(['Reviewer', 'Note', 'Comment', 'Localisation', 'Nbreviews', 'Date',
       'Compagny'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8000 entries, 0 to 1603999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Reviewer      8000 non-null   object
 1   Note          8000 non-null   float64
 2   Comment       8000 non-null   object
 3   Localisation  8000 non-null   object
 4   Nbreviews     8000 non-null   int64
 5   Date          8000 non-null   object
 6   Compagny      8000 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 500.0+ KB

Index(['Reviewer', 'Note', 'Comment', 'Localisation', 'Nbreviews', 'Date',
       'Compagny'],
      dtype='object')